*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
ul  li{
    float: left;
}
.top:after{
    content: "";
    display: block;
    clear: both;
}
div.top{
    background: #333;
}
div.top ul li{
    color: #9d9d9d;
    font-size: 14px;
    margin-right: 20px;
}
div.top a.first{
    font-size: 18px;
    margin-right: 50px;
}
div.middle{
    text-align: center;
    background: linear-gradient(to right,#0c0535,#5a14d1);
    padding: 50px 0;
}
div.middle h1{
    font-size: 90px;
    color: #fff;
    padding: 50px 0 20px  0;
}
div.middle h2{
        color: #9da0a3;
}
div.middle a.btn1{
    display: block;
    width: 300px;
    background: #337ab7;
    border-radius: 5px;
    padding: 13px 30px 15px;
    font-weight: bold;
    margin: 30px auto   15px;
}
div.middle a.btn2{
    color: #9d9d9d;
}
div.bottom img{
    float: left;
}
/*pc*/
@media screen and (min-width: 992px){
    .container{
        margin: 0 auto;
    }
    .top,.middle,.bottom{
        width: 100%;
    }
    .bottom img{
        width: 25%;
    }
}
/*pad*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 770px;
        margin: 0 auto;
    }
    .top,.middle,.bottom{
        width: 100%;
    }
    .bottom img{
        width: 50%;
    }
}

/*phone*/
@media screen and (max-width: 767px){
    .container{
        width: 100%;
    }
    .top,.middle,.bottom{
        width: 100%;
    }
    .bottom img{
        width: 100%;
    }

}






























